.text {
  display: inline-block;
  margin: 5px;
}
table {
  border: 1px none;
  width: 100%;
}
th {
  text-align: left;
  width: 15%;
  
}
td {
  text-align: center;
}
tr {
  background-color: rgb(243, 243, 243);
}
table,td,th{
    border-collapse: collapse;
}
th,td{
    

}
.row{
    background-color: white;
}