* {
  font-family: poppins;
}
header {
  background-color: red;
  height: 80px;
  position: relative;
}
.logo-span {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 50px;
  top: 10px;
}
.logo {
  color: red;
  font-size: 33px;
  font-weight: 600;
  text-decoration: none;
}
.signup {
  position: absolute;
  right: 30px;
  top: 25px;
  word-spacing: 10px;
}
.login {
  color: white;
  text-decoration: none;
}
.account {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  word-spacing: normal;
}
section {
  position: relative;
  padding: 20px 50px;
}
.title {
  color: rgb(10, 56, 97);
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}
.filter-area {
    position: relative;
  width: 260px;
  height: 682px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.25);
}
.first-restaurent {
  width: 682px;
  height: 260px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.25);
  position: absolute;
  top: 100px;
  left: 350px;
  border-radius: 20px;
}
.second-restaurent {
  width: 682px;
  height: 260px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.25);
  position: absolute;
  top: 400px;
  left: 350px;
  border-radius: 20px;
}
.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.pageno {
  text-decoration: none;
  border: 1px solid rgb(72, 94, 125);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.image1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;
}
.resraurent-name {
  position: absolute;
  font-size: 30px;
  top: 20px;
  left: 150px;
  color: rgb(25, 58, 164);
}
.filter-word {
  font-size: 20px;
  color: blue;
  font-weight: 400;
  position: absolute;
  top: 5px;
  left: 10px;
}
.filter-div{
    position: relative;
    top: 30px;
    left: 10px;
}
.Select-location{
    font-size: 15px;
  color: rgb(191, 181, 181);
  font-weight: 400;
  position: absolute;
  
}
#places{
    position: absolute;
    top: 30px;
    width: 100px;
}
.cuisine-div{
    position: relative;
    top: 60px;
}
.cuisine-word{
    position: absolute;
    color: blue;
}
.Cuisine-type{
    position: absolute;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text
    
}
.cost{
position: relative;
top: 200px;

}
.cost-for-two{
    position: absolute;
    color: blue;
}